body {
    font-family: Arial, sans-serif;
    background-image: url(images/background2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body::after {
    content: "";
    background-color: rgba(255, 255, 255, 0.01); 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.custom-heading {
    font-family: Arial, sans-serif;
    font-size: 5vh;
    font-weight: bold; 
    color: black; 
}

.label-button {
    font-weight: bold; 
    font-size: 18px;   
}

#playerName {
    border-radius: 8px;
    padding: 8px; 
    font-size: 16px; 
    width: 250px; 
}

#input-container {
    display: initial; 
}

.hide-chest {
    display: none;
  }

#welcomeMessage {
    font-weight: bold; 
    font-size: 34px;   
}

.treasure-chest {
    margin-right: 20px; 
    border: 5px solid transparent; 
    transition: border-color 0.3s;
    cursor: pointer;
  }

.treasure-chest img {
    width: 120px; 
    height: auto; 
    border-radius: 30px; 
  }

.treasure-chest:hover {
    border-color: rgb(0, 255, 89); 
  }


.header {
    text-align: center;
}

.game-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: flex-start; 
    margin-top: 120px;
}


.score-leaderboard {
    text-align: center; 
    position: relative; 
    top: -150px; 
    left: 10px
  }
  
.score {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    margin-left: auto; 
    margin-right: auto;
}

.highscore {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    margin-left: auto; 
    margin-right: auto;
}


.next-button {
    display: none;
  }


.leaderboard {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.leaderboard h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

#leaderboardList {
    list-style: none;
    padding: 0;
}

#leaderboardList li {
    font-size: 14px;
    margin-bottom: 5px;
}



.purple-button {
    background-color: #8a61cc;
    color: white;
    border: none;
    border-radius: 2vh;
    cursor: pointer;
    font-size: 2.5vh;
    transition: background-color 0.3s;
    margin-left: 85vw;
    margin-top: 2vh;
    font-weight: bold;
    width: 14vw;
    height: 6vh;
}

.purple-button:hover {
    background-color: #563196; 
}


.popup-container {
    position: fixed;
    width: 50vw;
    height: 40vh;
    top: 50vh;
    left: 49.5vw;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    border-radius: 2vh;
    z-index: 1000;
    text-align: center;
    display: none; 
}

.popup-content {
    padding: 2vh;
    position: relative;
}

.popup-message {
    margin-bottom: 10vh;
    font-size: 7vh;
    font-weight: bold;
}


.close-button {
    position: absolute;
    top: 1vh;
    right: 2vw;
    color: white;
    cursor: pointer;
    font-size: 5vh;
}

.close-button:hover {
    color: red; 
}












.chat-container-wrapper {
    position: fixed;
    background-image: url(images/chatroomcontainer.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    height: 69vh;
    width: 29.3vw;
    border-radius: 1vh;
    margin-top: 12vh;
    margin-left: 35vw;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgb(46, 46, 46);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(55, 55, 55);
    border-radius: 10px;
}

.chatroom-header {
    z-index: 1;
    background-color: #000000;
    height: 7vh;
    width: 27.31vw;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    word-wrap: break-word;
    position: absolute;
    text-align: center; 
    font-size: 1.5vw; 
    font-weight: bold; 
    color: white; 
    margin-left: 0.95vw;
    margin-top: 2vh;
    line-height: 6vh;
}

.chat-container {
    padding: 1vh;
    background-color: #f1f1f1;
    height: 49.3vh;
    width: 26.4vw;
    overflow-y: scroll;
    overflow-x: hidden;
    /*border-radius: 10px;*/
    word-wrap: break-word;
    position: absolute;
    margin-left: 0.95vw;
    margin-top: 4.3vw;
}

.chat-container * + * {
    margin-top:  1vh;
}

.message-content {
    width: fit-content;
    padding: 1vh;
    border-radius: 1vh;
    background-color: #d2ebff;
    font-size: 2.2vh;
    color: rgb(0, 0, 0)
}

.message-author {
    margin-bottom: -1vh;
    margin-left: 1vh;
    color: rgb(70, 164, 196);
    margin-top: 1.2vh;
    font-size: 1.8vh;
}


.chat-input {
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    background: #949494;
    /*border-radius: 10px;*/
    padding: 2vh;
    width: 25.5vw;
    height: 3vh;
    margin-top: 60.4vh;
    margin-left: 0.92vw;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
}

#chat-text-input {
    flex: 1;
    border: none;
    border-radius: 1vh; 
    padding: 1.8vh;
    white-space: normal; 
    overflow-wrap: break-word; 
    /*max-width: 100%;*/
    width: 5vw;
    overflow: hidden;
    margin-top: 0.2vh;
    margin-left: -0.5vw;
    font-size: 1.8vh;
}

#chat-text-input::placeholder {
    color: #5a5a5a; 
}

#chat-send-button {
    background: #3498db; 
    color: #fff;
    border: none;
    border-radius: 1vh; 
    cursor: pointer;
    margin-top: 0.3vh;
    margin-left: 0.5vw;
    margin-right: -0.3vw;
    font-size: 1.8vh;
    width: 5vw;
    height: 5.3vh;
}

#chat-send-button:hover {
    background: #2c77b7; 
}

.cheader {
    position: fixed;
    background-color: rgb(55, 55, 55); 
    width: 100vw;
    height: 10vh; 
    margin-bottom: 90vh;
}

.cfooter {
    position: fixed;
    background-color: grey; 
    width: 100vw;
    height: 10vh; 
    margin-top: 90vh;

}

.overlay {
    position: fixed;
    width: 50vw;
    height: 75vh;
    background-color: #000000;
    display: block;
    z-index: 999; 
    margin-top: 12vh;
    margin-left: 25vw;
    border-radius: 2vh;
}

.overlay-content {
    background-color: #000000;
    color: #ffffff;
    padding: 2vh;
    border-radius: 1vh;
    text-align: center;
    margin-top: 20vh;
    text-align: center; 
    font-size: 6vh; 
    font-weight: bold; 
}

.wallet-more-wrapper {
    position: fixed;
    width: 12.5vw;
    height: 25vh;
    background-color: #c3c3c3;
    display: none;
    top: 12vh;
    left: 86vw;
    border-radius: 1vw;
    z-index: 2;

}

.wallet-disconnect {
    background-color: #7546C0;
    display: block;
    border-radius: 1.5vh;
    margin-top: 1.5vh;
    margin-left: 2vw; 
    color: white;
    text-align: center; 
    line-height: 5vh;
    transition: background-color 0.3s;
    cursor: pointer;
    width: 19vh;
    height: 5vh;
    font-size: 2vh;
}

.wallet-disconnect:hover {
    background-color: #3e2467;
}







