body {
    font-family: Arial, sans-serif;
    background-image: url('https://graph.org/file/c6b469ba5a83a7666458f.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body::after {
    content: "";
    background-color: rgba(255, 255, 255, 0.01); 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.custom-heading {
    font-family: Arial, sans-serif;
    font-size: 5vh;
    font-weight: bold; 
    color: black; 
}

.label-button {
    font-weight: bold; 
    font-size: 18px;   
}

#playerName {
    border-radius: 8px;
    padding: 8px; 
    font-size: 16px; 
    width: 250px; 
}

#input-container {
    display: initial; 
}

.hide-chest {
    display: none;
  }

#welcomeMessage {
    font-weight: bold; 
    font-size: 34px;   
}

.treasure-chest {
    margin-right: 20px; 
    border: 5px solid transparent; 
    transition: border-color 0.3s;
    cursor: pointer;
  }

.treasure-chest img {
    width: 120px; 
    height: auto; 
    border-radius: 30px; 
  }

.treasure-chest:hover {
    border-color: rgb(0, 255, 89); 
  }


.header {
    text-align: center;
}

.game-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: flex-start; 
    margin-top: 120px;
}


.score-leaderboard {
    text-align: center; 
    position: relative; 
    top: -150px; 
    left: 10px
  }
  
.score {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    margin-left: auto; 
    margin-right: auto;
}

.highscore {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    margin-left: auto; 
    margin-right: auto;
}


.next-button {
    display: none;
  }


.leaderboard {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.leaderboard h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

#leaderboardList {
    list-style: none;
    padding: 0;
}

#leaderboardList li {
    font-size: 14px;
    margin-bottom: 5px;
}



.purple-button {
    background-color: #8a61cc;
    color: white;
    border: none;
    border-radius: 2vh;
    cursor: pointer;
    font-size: 2.5vh;
    transition: background-color 0.3s;
    margin-left: 85vw;
    margin-top: 2vh;
    font-weight: bold;
    width: 14vw;
    height: 6vh;
}

.purple-button:hover {
    background-color: #563196; 
}


.popup-container {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    border-radius: 2vh;
    z-index: 1000;
    text-align: center;
    display: none; 
}

.popup-content {
    padding: 2vh;
    position: relative;
}

.popup-message {
    margin-bottom: 10vh;
    font-size: 5vh;
}


.close-button {
    position: absolute;
    top: 1vh;
    right: 2vw;
    color: white;
    cursor: pointer;
    font-size: 5vh;
}

.close-button:hover {
    color: red; 
}











