body {
    font-family: Arial, sans-serif;
    background-image: url('https://graph.org/file/c6b469ba5a83a7666458f.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body::after {
    content: "";
    background-color: rgba(255, 255, 255, 0.01); /* 50% opacity white background */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.custom-heading {
    font-family: Arial, sans-serif;
    font-size: 5vh;
    font-weight: bold; /* Make the text bold */
    color: black; /* Change the text color to black */
}

.popup-container {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    border-radius: 2vh;
    z-index: 1000;
    text-align: center;
    display: none; /* Initially hide the popup */
}

.popup-content {
    padding: 2vh;
    position: relative;
}

.popup-message {
    margin-bottom: 10vh;
    font-size: 5vh;
}





.chat-container-wrapper {
    position: fixed;
    background-image: url('https://graph.org/file/b6ef8a9304a16cc683dd5.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: block;
    height: 85vh;
    width: 100vw;
    right:110vw;
    margin-top: 10vh;
    transition: right 0.5s;
    z-index: 100000;
    
}

.chat-container-wrapper.slide-right{
    right:0vw;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgb(46, 46, 46);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(55, 55, 55);
    border-radius: 10px;
}

.chatroom-header {
    z-index: 1;
    background-color: #cdcdcd;
    height: 7vh;
    width: 101.1vw;
    word-wrap: break-word;
    position: absolute;
    text-align: center; 
    font-size: clamp(3vh , 1vh , 5vh); 
    font-weight: bold; 
    color: white; 
    line-height: 6.5vh;
}

.chat-container {
    background-color: #ffffff;
    height: 70vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap: break-word;
    position: absolute;
    margin-top: 7vh;
}

.chat-container * + * {
    margin-top:  1vh;
}


.message-content {
    width: fit-content;
    padding: 1vh;
    border-radius: 1vh;
    background-color: #d2ebff;
    font-size: 2.2vh;
    color: rgb(0, 0, 0);
    margin-left: 1vw;
}

.message-author {
    margin-bottom: -1vh;
    margin-left: 1vh;
    color: rgb(70, 164, 196);
    margin-top: 1.2vh;
    font-size: 1.8vh;
    margin-left: 1vw;
}

.chat-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #949494;
    padding: 2vh;
    width: 98.85vw;
    height: 4vh;
    margin-top: 77vh;
    z-index: 1;
}

#chat-text-input {
    border: none;
    border-radius: 1vh; 
    padding: 1.8vh;
    white-space: normal; 
    overflow-wrap: break-word; 
    width: 60vw;
    overflow: hidden;
    margin-top: 0.2vh;
    font-size: 1.8vh;
}

#chat-text-input::placeholder {
    color: #5a5a5a; 
}

#chat-send-button {
    background: #3498db; 
    color: #fff;
    border-radius: 1vh; 
    cursor: pointer;
    margin-top: 0.3vh;
    margin-right: clamp(10vw , 5vw , 20vw);
    margin-left: 2vw;
    font-size: 1.8vh;
    width: 15vw;
    height: 5.5vh;
}

#chat-send-button:hover {
    background: #2c77b7; 
}

.cheader {
    position: fixed;
    justify-content: space-between;
    background-color: rgb(55, 55, 55); 
    width: 100vw;
    height: 10vh; 
    margin-bottom: 90vh;
    display: flex;
}

.cfooter {
    position: fixed;
    background-color: grey; 
    width: 100vw;
    height: 10vh; 
    margin-top: 90vh;
    display: flex;
    z-index: 10;
}

.cfooter-text {
    font-size: medium;
    font-weight: bold;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: auto;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 85vh;
    background-color: #000000;
    display: block;
    z-index: 3; 
    margin-top: 10vh;
}

.overlay-content {
    background-color: #000000;
    color: #ffffff;
    padding: 2vh;
    border-radius: 1vh;
    text-align: center;
    margin-top: 20vh;
    font-size: 3vh; 
    font-weight: bold; 
    width: fit-content;
    margin: auto;

}

.wallet-more-wrapper {
    position: fixed;
    width: 50vw;
    height: 90vh;
    background-color: #202020;
    display: none;
    top: 10vh;
    left: 100vw;
    border-radius: 0vw;
    z-index: 4;
    transition: left 0.5s;
}

.wallet-more-wrapper.slide-left {
    left:50vw
}

.wallet-disconnect {
    background-color: #7546C0;
    display: none;
    border-radius: 1.5vh;
    color: white;
    text-align: center; 
    line-height: 5vh;
    transition: background-color 0.3s;
    cursor: pointer;
    width: 40vw;
    padding: 1.5vw;
    height: 5vh;
    font-size: clamp(2vh, 2vh, 5vh);;
    margin: auto;
    margin-top: 3vh;
    font-weight: bold;
}

.phantom-login {
    background-color: #7546C0;
    display: block;
    border-radius: 1.5vh;
    color: rgb(255, 255, 255);
    text-align: center; 
    line-height: 2vh;
    transition: background-color 0.3s;
    cursor: pointer;
    min-width: 24vw;
    min-height: 5vh;
    width: 40vw;
    height: fit-content;
    overflow-wrap: break-word; 
    padding-top: 3vh;
    font-weight: bold;
    font-size: clamp(2vh, 2vh, 5vh);;
    margin: auto;
    margin-top: 3vh;

}

.guest-login {
    background-color: #ffffff;
    display: block;
    border-radius: 1.5vh;
    color: rgb(0, 0, 0);
    text-align: center; 
    line-height: 2vh;
    transition: background-color 0.3s;
    cursor: pointer;
    min-width: 24vw;
    min-height: 5vh;
    width: 40vw;
    height: fit-content;
    overflow-wrap: break-word; 
    padding-top: 3vh;
    font-size: 2vh;
    font-weight: bold;
    margin: auto;
    margin-top: 3vh;
}

.guest-login:hover {
    background-color: #e6e6e6;
}

.phantom-login:hover {
    background-color: #3e2467;
}

.wallet-disconnect:hover {
    background-color: #3e2467;
}

.purple-button {
    background-color: #8a61cc; 
    color: white;
    border: none;
    border-radius: 2vh;
    cursor: pointer;
    font-size: clamp(2vh , 1vh , 2.5vh);
    transition: background-color 0.3s;
    margin-right:5vw;
    margin-top: 2vh;
    font-weight: bold;
    width: 30vw;
    height: 6vh;
}

.purple-button:hover {
    background-color: #563196; 

}

.guest-login-ui {
    position: fixed;
    width: 80vw;
    height: 30vh;
    background-color: #ffffff;
    border: #002aff;
    border-width: 1vh;
    display: none;
    top: 22vh;
    left: 10vw;
    border-radius: 0.5vw;
    z-index: 1300;
}

.guest-login-ui-title {
    text-align: center;
    color: #000000;
    display: block;
    z-index: 1300;
    font-size: clamp(3vh, 3.5vh, 4vh);
    font-weight: bold;
    margin-top: 3vh;
}

.guest-login-textbox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vh;
    width: 59vw;
    height: 5vh;
    border-radius: 0.5vh;
}

#guest-login-textbox-input {
    display: block;
    flex: 1;
    border-radius: 1vh; 
    padding: 1vh;
    white-space: normal; 
    overflow-wrap: break-word; 
    width: 15vw;
    height: 6vh;
    overflow: hidden;
    font-size: clamp(2vh, 3vh, 4vh);
}

#guest-login-textbox-input::placeholder {
    color: #5a5a5a; 
}

.guest-login-confirm-button {
    display: block;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 10vh; 
    margin-left: 20px;
    margin-top: 10px;
}

.guest-login-confirm-button button {
    background-color: #9b29ba; 
    color: #fff; 
    border: none;
    border-radius: 1em;
    padding: 1em; 
    cursor: pointer;
    font-weight: bold; 
}

.guest-login-confirm-button button:hover {
    background-color: #5f186a;
}

.open-chatroom-button{
    background-color: #8a61cc; 
    display: none;
    color: white;
    border: none;
    border-radius: 2vh;
    cursor: pointer;
    font-size: 2.5vh;
    transition: background-color 0.3s;
    margin-left: 2vw;
    margin-top: 2vh;
    font-weight: bold;
    width: 30vw;
    height: 6vh;
}

.open-chatroom-button:hover{
    background-color: #563196;
}

.close-button {
    position: absolute;
    top: 1vh;
    right: 2vw;
    color: rgb(255, 0, 0);
    cursor: pointer;
    font-size:3.5vh;
}

.close-button:hover {
    color: rgb(146, 0, 0); 
}


.main-container1{
    position: absolute;
    display: flex;
    width: 95vw;
    height: 30vh;
    background-color: rgba(89, 89, 89, 0.9);
    justify-content: flex-start; 
    align-items: center; 
    margin: auto;
    top:16.5vh;
    left:2.4vw;
    border-radius: 3vw;
    border: 0.1vw solid rgb(255, 255, 255);
    overflow-x: hidden; 
    white-space: nowrap;
}

.main-container2{
    position: absolute;
    display: flex;
    width: 95vw;
    height: 30vh;
    background-color: rgba(89, 89, 89, 0.9);
    justify-content: flex-start; 
    align-items: center; 
    margin: auto;
    top:56.5vh;
    left:2.4vw;
    border-radius: 3vw;
    border: 0.1vw solid rgb(255, 255, 255);
    overflow-x: hidden; 
    white-space: nowrap;
}


.main-container1-top-title{
    position: absolute;
    display: block;
    width: 50vw;
    height: 5vh;
    justify-content: center; 
    align-items: center; 
    margin: auto;
    top: 12vh;
    left:4vw;
    border-radius: 3vw;
    font-weight: bold;
    font-size:3vh;
    color: #ffffff;
    
}

.main-container2-top-title{
    position: absolute;
    display: block;
    width: 50vw;
    height: 5vh;
    justify-content: center; 
    align-items: center; 
    margin: auto;
    top: 52vh;
    left:4vw;
    border-radius: 3vw;
    font-weight: bold;
    font-size:3vh;
    color: #ffffff;
}


.square-container1 {
    width: 25vh; 
    height: 25vh;
    background: linear-gradient(45deg, #acf1ff, #007eff);
    border: 1px solid #fff;
    border-radius: 2vw;
    display: inline-block;
    margin: 0 1vw; 
    flex: 0 0 auto;
    margin-top: 0.5vh;
    margin-left: 2vw;
  }

.square-container2 {
    width: 25vh; 
    height: 25vh;
    background: linear-gradient(45deg, #6bffd3, #00d76b);
    border: 1px solid #fff;
    border-radius: 2vw;
    display: inline-block;
    margin: 0 1vw; 
    flex: 0 0 auto;
    margin-top: 0.5vh;
    margin-left: 2vw;
  }











